# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment variables - НИКОГДА НЕ КОММИТИМ!
.env
.env.local
.env.*.local
.env.production
.env.development

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

unimarket.tar
unimarket.db
docker-compose.yml
docker-compose.dev.yml
docker-compose.prod.yml
logs/unimarket.log

